* {
  font-family: "Montserrat";
}

body {
  // background: url("../img/bg.jpg") no-repeat fixed center/cover;
  background: rgb(226, 226, 226);
}
td, th{
  padding: 10px;
  outline: 2px solid black;
}